@import "./styles/theme.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
  background: linear-gradient(
          135deg,
          var(--color-bg),
          color-mix(in srgb, var(--color-bg) 80%, var(--color-accent))
  );
  color: #111;
}